/* Style for table */
table {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px 10px;
}



h1, h2, h3, h4 {
    color:brown;
    background-color:chartreuse;
}

form {
    background-color: aqua;
    padding: 15px;
    width: 400px;
    border: 1px solid brown;
    border-radius: 8px;
}
